<style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
</style>
  <div class="navbar">
    <ul>
      <li><a href="http://localhost:4200/">Home</a></li>
      <li><a href="http://localhost:4200/games">Games</a></li>
      <li><a href="http://localhost:4200/books">Books</a></li>
      <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
  </div>
<router-outlet />
